*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

li{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

a{
    color: hsl(0, 0%, 41%);
}

.left_nav img{
padding-right: 80px;
}

#nav_bar{
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 0px;
    width: 95%;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.left_nav, ul{
    display: flex;  
}

.left_nav ul li{
    display: flex;
    padding-right: 70px;
}

.right_nav > ul >li+li{
    display: flex;
    padding: 0px 20px;
    justify-content: center;
}

.right_nav > ul > li + li > a{
    display: block;
    padding: 0px 15px;
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 9px;
}

#main{
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: 85%;
    height: 650px;
}

.remote_work{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid orange;
}

.main_img{
    display: flex;
    margin: auto;
    width: 45%;
    height: 650px;
    border: 1px solid black;
    background-image: url(../img/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.right_box{
    border: 1px solid blue;
    /* padding-right: 600px; */
}

.right_box h1{
    border: 1px solid pink;
    font-size: 60px;
    padding-left: 100px;
}