/* general */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a{
    font-size: 20px;
    color: hsl(0, 0%, 41%);
}

li{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

/* nav_bar */

#nav_bar{
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    color: hsl(0, 0%, 41%);
    padding: 20px 0px;
    position: relative;
    width: 95%;
}

.nav{
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: space-between;
}

#burger{
    display: none;
}

.left_nav{
    display: flex;
}

.dropdown1{
    padding-left: 120px;
}

.dropdown2{
    padding-left: 30px;
    padding-right: 30px;
}

.others{
    padding-right: 30px;
}

.dropdown1_content, .dropdown2_content{
    display: none;
    background-color: rgb(202, 218, 248);
    padding: 15px 0;
    flex-direction: column;
}

.dropdown1_content img{
    padding: 8px 0;
}

.dropdown1_content a{
    padding: 5px 0;
}

.dropdown1_content img{
    padding-right: 15px;
}

.right_nav a{
    padding-left: 30px;
}

/* main body */

#main{
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: 85%;
    height: 650px;
}

.remote_work{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main_img{
    display: flex;
    width: 45%;
    height: 648px;
    background-image: url(../img/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.right_box{
    margin: 0 auto;
    width: 90%;
    text-align: start;
    padding: 0 80px;
    padding-top: 70px;
    position: relative;
}

.right_box h1{
    font-size: 50px;
}

.para{
    font-size: 23px;
    padding: 50px 250px 0 0;
    font-weight: 700px;
    color: hsl(0, 0%, 41%);
}

.btn{
    margin-right: 640px;
    margin-top: 100px;
    padding: 16px 0;
    font-size: 23px;
    font-weight: 700px;
    text-align: center;
    background-color: hsl(0, 0%, 8%);
    border-radius: 15px;
    color: hsl(0, 0%, 98%);
}

.social{
    display: flex;
    position: absolute;
    bottom: 0;
}

.social img{
    padding-right: 45px;
}

.com a, .fea a{
    padding-right: 15px;
}

.list{
    display: flex;
    height: 100px;
    flex-direction: column;
}

.list img{
    margin: 0;
    padding: 0;
    width: 20%;
    flex-direction: column;
}

/* In Active state */

.btn:hover{
    background-color: #fff;
    border: 3px solid black;
    color: black;
    cursor: pointer;
}

.nav:hover{
    cursor: pointer;
}

.dropbtn:hover, .others:hover, .right:hover{
    color: black;
}

#register:hover{
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 15px;
}

/* Media Queries */

@media (max-width:375px) {
    body{
        
    }
}