*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

li{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

a{
    font-size: 20px;
    color: hsl(0, 0%, 41%);
}

#nav_bar{
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px 0px;
    position: relative;
    width: 95%;
    border: 1px solid blue;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.left_nav{
    display: flex;
    
}

.dropdown1{
    padding-left: 120px;
}

.dropdown2{
    padding-left: 30px;
    padding-right: 30px;
}

.others{
    padding-right: 30px;
}

.dropdown1_content, .dropdown2_content{
    display: none;
}

.right_nav a{
    padding-left: 30px;
}



/* .left_nav img{
    padding-right: 80px;
    }

.nav{
    display: flex;
    justify-content: space-between;
}

.left_nav, ul{
    display: flex;  
}

.left_nav ul li{
    display: flex;
    padding-right: 70px;
}

.right_nav > ul >li+li{
    display: flex;
    padding: 0 0 0 70px;
    justify-content: center;
}

.right_nav > ul > li + li > a{
    display: block;
    padding: 0 20px;
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 9px;
} */

#main{
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: 85%;
    height: 650px;
}

.remote_work{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main_img{
    display: flex;
    width: 45%;
    height: 648px;
    background-image: url(../img/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.right_box{
    margin: 0 auto;
    width: 90%;
    text-align: start;
    padding: 0 80px;
    padding-top: 70px;
    position: relative;
}

.right_box h1{
    font-size: 50px;
}

.para{
    font-size: 23px;
    padding: 50px 250px 0 0;
    font-weight: 700px;
    color: hsl(0, 0%, 41%);
}

.btn{
    margin-right: 640px;
    margin-top: 80px;
    padding: 16px 0;
    font-size: 23px;
    font-weight: 700px;
    text-align: center;
    background-color: hsl(0, 0%, 8%);
    border-radius: 15px;
    color: hsl(0, 0%, 98%);
}

.social{
    display: flex;
    position: absolute;
    bottom: 0;
}

.social img{
    padding-right: 45px;
}

.com a, .fea a{
    padding-right: 15px;
}

.list{
    display: flex;
    height: 100px;
    flex-direction: column;
    /* z-index: 1; */
}

.list img{
    margin: 0;
    padding: 0;
    width: 20%;
    flex-direction: column;
}